@model Product
@{
}

<div class="container">
		<form asp-action="Create" asp-controller="Product" method="post">
		<label asp-for="Name"></label>
		<input type="text" class="form-control" asp-for="Name"/>
		<label asp-for="Color"></label>
		<input type="text" class="form-control" asp-for="Color"/>
		<label asp-for="Quantity"></label>
		<input type="text" class="form-control" asp-for="Quantity"/>
		<label asp-for="UnitPrice"></label>
		<input type="text" class="form-control" asp-for="UnitPrice"/>
		<br />
		<input type="submit" class="btn btn-success" value="تایید"/>
	</form>

</div>

